from {{ path_name }}.core.config.settings import APP_SETTINGS
{% if database_type == "async" %}
from sqlalchemy.ext.asyncio import create_async_engine

async_engine = create_async_engine(
    url=APP_SETTINGS.switch_db_using_env,
    echo=APP_SETTINGS.DATABASE_ECHO_LOGS,
{% if database_host in ("neon", "both") %}
    connect_args={"ssl": "require"},
{% endif %}
    future=True,
)
{% else %}
from sqlalchemy import create_engine

sync_engine = create_engine(
    url=APP_SETTINGS.switch_db_using_env,
    echo=APP_SETTINGS.DATABASE_ECHO_LOGS,
{% if database_host in ("neon", "both") %}
    connect_args={"sslmode": "require"},
{% endif %}
    future=True,
)
{% endif %}
