from fastapi import APIRouter

route = APIRouter(tags=["Health route"])

@route.get("/")
def get_health():
    return {
        "Progress": "Faststrapy Configured entire project",
        "status": "healthly"
    }


